


<div class="container-fluid">
  <div class="jumbotron">
    <h1>Hello</h1> 
    <p class="lead">This page will show a list gallery of <strong>20</strong> selected Github repoositories</p>
    <p>You will be able to control the amount of repos showing from within the angular controller, by changing the parameter</p>
    <p>You can also check the Boomarks section after bookmarking an item from the gallery to view the stored Session list</p>
    <p>Please type a keyword and hit the search button to start</p>
   
  </div>
</div>

<div class="row text-center text-lg-left">

  <div class="col-lg-3 col-md-4 col-xs-6 p-2" *ngFor="let item of items">
          <div class="card bg-light">
                  <img class="card-img-top" style="text-align:center;"  src="{{item.avatarUrl}}" alt="image">
                  <div class="card-body">
                    <h4 class="card-title">{{item.name}}</h4>
                    <p class="card-text">{{item.description}}</p>
                    <div>
                      <a class="card-link" [routerLink]="['/gallery-item',item.id]">More Details</a>
                    </div>
                    <a class="btn btn-primary" (click)="bookmark(item)">Bookmark</a>
                  </div>
          </div>
    </div> 

    <div class="col-lg-3 col-md-4 col-xs-6 p-2" *ngFor="let item of products | async; let i = index ">
      <div class="card">
            
              <div class="card-body">
                <h4 class="card-title">{{item.name}}</h4>
                <p class="card-text">{{item.category}}</p>
              </div>
      </div>
</div>  

</div>