
<div class="container">
  <div class="row text-center text-lg-left">

    <div class="col-lg-3 col-md-4 col-xs-6 p-2" *ngFor="let item of bookmark">
            <div class="card">
                    <img class="card-img-top" style="text-align:center;"  src="{{item.avatarUrl}}" alt="image">
                    <div class="card-body">
                      <h4 class="card-title">{{item.name}}</h4>
                      <p class="card-text">{{item.description}}</p>
                      <a href="javascript:void(0)" class="btn btn-primary">Bookmark</a>
                    </div>
            </div>
      </div> 

  </div>
</div>